#speech {font-family: Italic; font-size: 20px ;color:black;}
#Direction{font-family: 'Times New Roman', Times, serif;font-size: 10px;color: black;background-color: aqua;}
#Direction:hover{color:red;background-color:yellow ;}
.ANDREW{color:blue}
.JOEL{color:palevioletred}
table{
    border: 3px;
    color: blueviolet;
    text-align:center ;
    padding-right:0cap;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}

tr:nth-child(even){
    background-color: darkmagenta;
}
.ANDREW:hover{
    color: brown;
    text-shadow: 1px 3px 2px palevioletred;
    border-style: groove;
}

.JOEL:hover{
    color: chartreuse;
    text-shadow: 1px 3px 2px yellowgreen;
    border-style: groove;    
}
ul.navbar-horizontal {
    /* remove these */
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    ul.navbar-horizontal li {
    float:left; /* line up horizontally */
    color:#000;
    background-color:palevioletred
    }
    ul.navbar-horizontal a {
    display:block;
    padding:8px;
    }