p {font-family: Italic; font-size: small ;color:black;}
#Act{font-family: 'Times New Roman', Times, serif;font-size: 10px;color: black;background-color: aqua;}
#Act:hover{color:red;background-color:yellow ;}
.ANDREW{colorb:blue}
.JOEL{color:palevioletred}

